
<a href="/img/<%= @photo.id %>" target="_blank">
  <img src="/img/<%= @photo.id %>" width="400"/>
</a>

<% @photo.comments.each do |comment| %>
  <p>
    <span class="commenter"><%= comment.user.display_name + " (" + comment.user.relationship + ")" %>:</span>
    <%= comment.body %>
  </p>
<% end %>

<%= form_for([@photo, @photo.comments.build]) do |f| %>
  <p>
    <%= f.text_area :body, size: "50x4" %>
  </p>
  <p>
    <%= f.submit "Add Your Comment, " + @user.relationship %>
  </p>
<% end %>

<%= link_to 'More Photos', photos_path %>
